.Column {
    display: flex;
    flex-direction: column;
    justify-content: top;
    min-width: 240px;
    width: calc(100vw / 4 - 20px);
    min-height: 300px;
    height: auto;
    border-radius: 5%;
}