/* .ItemCard {

  display: flex;
  flex-direction: column; 

  width: 80%;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff; 
  margin-bottom: 5px;
  text-align: left;
} */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}